<div class="wrapper wrapper_padding clearfix">
 <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a Developer &amp; Designer living in Brazil.</p>
    <p>By day I work as a front end developer, &amp; by night I teach my skills
    at <a href="#">DRTuts</a>.</p>
    <p>You can find me twitting, tumbliring and githubing bellow.</p>
 </div>
 <div class="col-2 homepage_content">
   <h2>Stuff I've Written</h2>
   <hr>
   <h3><a href="#">The DO List</a></h3>
   <p class="date">Friday April 10th</p>
   <h3><a href="#">How I learn 'X'</a></h3>
   <p class="date">Friday April 10th</p>
   <h3><a href="#">Strive for the uncomfortable</a></h3>
   <p class="date">Friday April 10th</p>

 </div>
 <div class="col-3 homepage_content">
   <h2>Stuff I've Built</h2>
   <hr>
   <h3><a href="#">DRTuts</a></h3>
   <p class="date">Friday April 10th</p>
   <h3><a href="#">DR Drafts Community</a></h3>
   <p class="date">Friday April 10th</p>
   <h3><a href="#">Rails Challenge</a></h3>
   <p class="date">Friday April 10th</p>
 </div>
</div>
