<!--The localhost:3000/posts takes to the index page of the model, it is
all about convention and name convention. This is yelded on the yeld field of the application.html.erb-->
<h1 id="page_title">Stuff I've Written</h1>
  <div id="post_wrapper" class="skinny_wrapper">
    <% @posts.each do |post| %>
    <div class="post">
      <p class="date"><%= post.created_at.strftime('%A, %B %d')%></p>
        <h2><a href="#"><%=link_to post.title, post %></a></h2>
        <hr>
    </div>
    <% end %>

    <%= will_paginate @posts %>
