<!--The localhost:3000/posts takes to the index page of the model, it is
all about convention and name convention. This is yelded on the yeld field of the application.html.erb-->
<h1 id="page_title">Stuff I've Written</h1>
  <div id="post_wrapper" class="skinny_wrapper">
    <% @posts.each do |post| %>
    <div class="post">
      <p class="date"><%= post.created_at.strftime('%A, %B %d')%></p>
        <h2><a href="#"><%=link_to post.title, post%></a></h2>
        <hr>
    </div>
    <% end %>


      <div class="post">
        <p class="date">Friday April 10th</p>
          <h2><a href="#">The DO List</a></h2>
          <hr>
      </div>
      <div class="post">
        <p class="date">Friday April 10th</p>
          <h2><a href="#">The DO List</a></h2>
          <hr>
      </div>
    </div>

    <div class="pagination">
      <span class="previous_page disabled">Previous</span>
      <em class="current">1</em>
      <a rel="next" href="#">2</a>
      <a rel="next" href="#">3</a>
      <a href="#" class="next_page">Next</a>
    </div>
